In [1]:
import os
import sys

spark_path = "/opt/spark/"

os.environ['SPARK_HOME'] = spark_path
os.environ['HADOOP_HOME'] = spark_path
os.environ['SPARK_CLASSPATH'] = "/home/ubuntu/postgresql-9.3-1103-jdbc41.jar"

sys.path.append(spark_path + "/bin")
sys.path.append(spark_path + "/python")
sys.path.append(spark_path + "/python/pyspark/")
sys.path.append(spark_path + "/python/lib")
sys.path.append(spark_path + "/python/lib/pyspark.zip")
sys.path.append(spark_path + "/python/lib/py4j-0.9-src.zip")

from pyspark import SparkContext
from pyspark import SparkConf

sc = SparkContext()

In [2]:
sc

In [3]:
from pyspark.sql import SQLContext, Row

In [4]:
sqlctx = SQLContext(sc)

In [5]:
sqlctx

In [6]:
properties = {
    "user": "client3",
    "password": "client333"
}

In [7]:
url="jdbc:postgresql://postgres-trans.c3yxphqgag3s.ap-southeast-1.rds.amazonaws.com:5432/postgres_trans"

In [8]:
df = sqlctx.read.jdbc(url=url, table="transaction_master", properties=properties)

In [9]:
data = df.collect()

In [10]:
type(data)

list

In [11]:
import pandas as pd

In [12]:
data_df = pd.DataFrame(data, columns=df.columns)

In [13]:
data_df.head(6)

,InvoiceNo,prod_id,prod_desc,quantity,unitprice,cust_id,country,revenue,timestamp
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom,15.30,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850,United Kingdom,20.34,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850,United Kingdom,22.00,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom,20.34,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850,United Kingdom,20.34,2010-12-01
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,7.65,17850,United Kingdom,15.30,2010-12-01

In [14]:
import yaml
with open('/home/ubuntu/MappingBuffer2.yml', 'r') as f:
    doc = yaml.load(f)

In [15]:
doc['column_map']['TRANSACTION_MASTER']

{'cust_id': 'cust_id',
 'product_id': 'prod_id',
 'quantity': 'quantity',
 'renewal': 'renewal',
 'revenue': 'revenue',
 'timestamp': 'timestamp'}

In [16]:
import pandas as pd

In [17]:
data_df.rename(columns={doc['column_map']['TRANSACTION_MASTER']['cust_id']:'cust_id'}, inplace = True)
data_df.rename(columns={doc['column_map']['TRANSACTION_MASTER']['revenue']:'revenue'}, inplace = True)
data_df.rename(columns={doc['column_map']['TRANSACTION_MASTER']['product_id']:'product_id'}, inplace = True)
data_df.rename(columns={doc['column_map']['TRANSACTION_MASTER']['timestamp']:'timestamp'}, inplace = True)

In [18]:
data_df.head(6)

,InvoiceNo,product_id,prod_desc,quantity,unitprice,cust_id,country,revenue,timestamp
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom,15.30,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850,United Kingdom,20.34,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850,United Kingdom,22.00,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom,20.34,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850,United Kingdom,20.34,2010-12-01
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,7.65,17850,United Kingdom,15.30,2010-12-01

In [20]:
product = data_df.product_id.unique()

In [21]:
len(product)

3684

In [22]:
cust = data_df.cust_id.unique()

In [23]:
len(cust)

4372

In [28]:
cust_prod = data_df[['product_id','cust_id']]

In [29]:
type(cust_prod)

pandas.core.frame.DataFrame

In [30]:
cust_prod.head(6)

  product_id  cust_id
0     85123A    17850
1      71053    17850
2     84406B    17850
3     84029G    17850
4     84029E    17850
5      22752    17850

In [31]:
values = pd.DataFrame([1]*len(cust_prod))

In [32]:
values.rename(columns={0:'rating'}, inplace=True)

In [33]:
cust_prod_df = pd.concat([cust_prod,values],axis=1)

In [34]:
cust_prod_df.head(6)

  product_id  cust_id  rating
0     85123A    17850       1
1      71053    17850       1
2     84406B    17850       1
3     84029G    17850       1
4     84029E    17850       1
5      22752    17850       1

In [35]:
cust_prod_df.shape

(406829, 3)

In [36]:
cust_prod_df['product_id'] = cust_prod_df['product_id'].astype('category')

In [37]:
cust_prod_df['product_id'] = cust_prod_df['product_id'].cat.codes

In [38]:
cust_prod_df.head(6)

   product_id  cust_id  rating
0        3249    17850       1
1        2649    17850       1
2        2855    17850       1
3        2803    17850       1
4        2802    17850       1
5        1605    17850       1

In [39]:
cust_prod_df.to_csv('/home/ubuntu/client3_cust_prod')