In [1]:
import codecs
from math import sqrt

In [ ]:
codecs

In [2]:
users = {"Angelica": {"Blues Traveler": 3.5, "Broken Bells": 2.0,
                      "Norah Jones": 4.5, "Phoenix": 5.0,
                      "Slightly Stoopid": 1.5,
                      "The Strokes": 2.5, "Vampire Weekend": 2.0},

         "Bill": {"Blues Traveler": 2.0, "Broken Bells": 3.5,
                  "Deadmau5": 4.0, "Phoenix": 2.0,
                  "Slightly Stoopid": 3.5, "Vampire Weekend": 3.0},
                               
         "Chan": {"Blues Traveler": 5.0, "Broken Bells": 1.0,
                  "Deadmau5": 1.0, "Norah Jones": 3.0,
                  "Phoenix": 5, "Slightly Stoopid": 1.0},
                               
         "Dan": {"Blues Traveler": 3.0, "Broken Bells": 4.0,
                 "Deadmau5": 4.5, "Phoenix": 3.0,
                 "Slightly Stoopid": 4.5, "The Strokes": 4.0,
                 "Vampire Weekend": 2.0},
                               
         "Hailey": {"Broken Bells": 4.0, "Deadmau5": 1.0,
                    "Norah Jones": 4.0, "The Strokes": 4.0,
                    "Vampire Weekend": 1.0},
                      
         "Jordyn": {"Broken Bells": 4.5, "Deadmau5": 4.0, "Norah Jones": 5.0,
                    "Phoenix": 5.0, "Slightly Stoopid": 4.5,
                    "The Strokes": 4.0, "Vampire Weekend": 4.0},
                    
         "Sam": {"Blues Traveler": 5.0, "Broken Bells": 2.0,
                 "Norah Jones": 3.0, "Phoenix": 5.0,
                 "Slightly Stoopid": 4.0, "The Strokes": 5.0},
                 
         "Veronica": {"Blues Traveler": 3.0, "Norah Jones": 5.0,
                      "Phoenix": 4.0, "Slightly Stoopid": 2.5,
                      "The Strokes": 3.0}
        }

In [3]:
users['Dan']

{'Blues Traveler': 3.0,
 'Broken Bells': 4.0,
 'Deadmau5': 4.5,
 'Phoenix': 3.0,
 'Slightly Stoopid': 4.5,
 'The Strokes': 4.0,
 'Vampire Weekend': 2.0}

### MANHATAN DISTANCE ###

In [4]:
def manhatan(rating1, rating2):
    distance = 0
    for x in rating1:
        if x in rating2:
            distance += abs(rating1[x] - rating2[x])
    return distance

In [5]:
manhatan(users['Hailey'], users['Veronica'])

2.0

In [6]:
manhatan(users['Hailey'], users['Jordyn'])

7.5

### CLOSEST PERSON ###

In [7]:
def computeNearestNeighbour(username, users):
    distances = []
    for user in users:
        if user != username:
            distance = manhatan(users[user], users[username])
            distances.append((distance,user))
    distances.sort()
    return distances

In [8]:
computeNearestNeighbour("Hailey", users)

[(2.0, 'Veronica'),
 (4.0, 'Chan'),
 (4.0, 'Sam'),
 (4.5, 'Dan'),
 (5.0, 'Angelica'),
 (5.5, 'Bill'),
 (7.5, 'Jordyn')]

In [9]:
def recommend(username, users):
    nearest = computeNearestNeighbour(username, users)[0][1]
    recommendations = []
    neighbourRatings = users[nearest]
    userRatings = users[username]
    for artist in neighbourRatings:
        if not artist in userRatings:
            recommendations.append((artist, neighbourRatings[artist]))
    return sorted(recommendations,
                 key = lambda artistTuple: artistTuple[1],
                 reverse = True)

In [10]:
recommend("Hailey", users)

[('Phoenix', 4.0), ('Blues Traveler', 3.0), ('Slightly Stoopid', 2.5)]

In [11]:
import pandas as pd

In [12]:
users_df = pd.DataFrame(users)

In [13]:
users_df

                  Angelica  Bill  Chan  Dan  Hailey  Jordyn  Sam  Veronica
Blues Traveler         3.5   2.0   5.0  3.0     NaN     NaN  5.0       3.0
Broken Bells           2.0   3.5   1.0  4.0     4.0     4.5  2.0       NaN
Deadmau5               NaN   4.0   1.0  4.5     1.0     4.0  NaN       NaN
Norah Jones            4.5   NaN   3.0  NaN     4.0     5.0  3.0       5.0
Phoenix                5.0   2.0   5.0  3.0     NaN     5.0  5.0       4.0
Slightly Stoopid       1.5   3.5   1.0  4.5     NaN     4.5  4.0       2.5
The Strokes            2.5   NaN   NaN  4.0     4.0     4.0  5.0       3.0
Vampire Weekend        2.0   3.0   NaN  2.0     1.0     4.0  NaN       NaN

In [34]:
from scipy.spatial.distance import cosine

In [38]:
users_df = users_df.fillna(0)

In [47]:
users_df

                  Angelica  Bill  Chan  Dan  Hailey  Jordyn  Sam  Veronica
Blues Traveler         3.5   2.0   5.0  3.0     0.0     0.0  5.0       3.0
Broken Bells           2.0   3.5   1.0  4.0     4.0     4.5  2.0       0.0
Deadmau5               0.0   4.0   1.0  4.5     1.0     4.0  0.0       0.0
Norah Jones            4.5   0.0   3.0  0.0     4.0     5.0  3.0       5.0
Phoenix                5.0   2.0   5.0  3.0     0.0     5.0  5.0       4.0
Slightly Stoopid       1.5   3.5   1.0  4.5     0.0     4.5  4.0       2.5
The Strokes            2.5   0.0   0.0  4.0     4.0     4.0  5.0       3.0
Vampire Weekend        2.0   3.0   0.0  2.0     1.0     4.0  0.0       0.0

In [40]:
1 - cosine(users_df['Angelica'],users_df['Veronica'])

0.92462794322100683

In [48]:
1 - cosine(users_df['Angelica'],users_df['Bill'])

0.54039253261559606

In [49]:
1 - cosine(users_df['Jordyn'],users_df['Bill'])

0.7788000944992004

In [55]:
items1 = pd.DataFrame(index=users_df.index, columns=users_df.index)

In [56]:
items1

,Blues Traveler,Broken Bells,Deadmau5,Norah Jones,Phoenix,Slightly Stoopid,The Strokes,Vampire Weekend
Blues Traveler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Broken Bells,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Deadmau5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Norah Jones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Phoenix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Slightly Stoopid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
The Strokes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vampire Weekend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
for i in range(0,len(items1.columns)) :
    for j in range(0,len(items1.columns)) :
      items1.ix[i,j] = 1-cosine(users_df.ix[:,i],users_df.ix[:,j])

In [58]:
items1

,Blues Traveler,Broken Bells,Deadmau5,Norah Jones,Phoenix,Slightly Stoopid,The Strokes,Vampire Weekend
Blues Traveler,1,0.540393,0.878426,0.648736,0.624716,0.802569,0.894823,0.924628
Broken Bells,0.540393,1,0.519197,0.891961,0.391652,0.7788,0.530192,0.371413
Deadmau5,0.878426,0.519197,1,0.561768,0.305329,0.571946,0.80947,0.825417
Norah Jones,0.648736,0.891961,0.561768,1,0.560093,0.832577,0.766622,0.563517
Phoenix,0.624716,0.391652,0.305329,0.560093,1,0.745044,0.5547,0.560241
Slightly Stoopid,0.802569,0.7788,0.571946,0.832577,0.745044,1,0.724899,0.717939
The Strokes,0.894823,0.530192,0.80947,0.766622,0.5547,0.724899,1,0.910446
Vampire Weekend,0.924628,0.371413,0.825417,0.563517,0.560241,0.717939,0.910446,1

In [60]:
data_neighbours = pd.DataFrame(index=items1.columns,columns=range(1,9))
 
for i in range(0,len(items1.columns)):
    data_neighbours.ix[i,:9] = items1.ix[0:,i].sort_values(ascending=False)[:9].index

In [61]:
data_neighbours

,1,2,3,4,5,6,7,8
Blues Traveler,Blues Traveler,Vampire Weekend,The Strokes,Deadmau5,Slightly Stoopid,Norah Jones,Phoenix,Broken Bells
Broken Bells,Broken Bells,Norah Jones,Slightly Stoopid,Blues Traveler,The Strokes,Deadmau5,Phoenix,Vampire Weekend
Deadmau5,Deadmau5,Blues Traveler,Vampire Weekend,The Strokes,Slightly Stoopid,Norah Jones,Broken Bells,Phoenix
Norah Jones,Norah Jones,Broken Bells,Slightly Stoopid,The Strokes,Blues Traveler,Vampire Weekend,Deadmau5,Phoenix
Phoenix,Phoenix,Slightly Stoopid,Blues Traveler,Vampire Weekend,Norah Jones,The Strokes,Broken Bells,Deadmau5
Slightly Stoopid,Slightly Stoopid,Norah Jones,Blues Traveler,Broken Bells,Phoenix,The Strokes,Vampire Weekend,Deadmau5
The Strokes,The Strokes,Vampire Weekend,Blues Traveler,Deadmau5,Norah Jones,Slightly Stoopid,Phoenix,Broken Bells
Vampire Weekend,Vampire Weekend,Blues Traveler,The Strokes,Deadmau5,Slightly Stoopid,Norah Jones,Phoenix,Broken Bells

In [62]:
def getScore(history, similarities):
   return sum(history*similarities)/sum(similarities)

In [ ]:
data_sims = pd.DataFrame(index=data.index,columns=data.columns)
data_sims.ix[:,:1] = data.ix[:,:1]