In [1]:
import numpy as np
import pandas as pd

In [2]:
header = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('/home/ubuntu/my_data/ml-100k/u.data', sep='\t', names=header)

In [3]:
n_users = df.user_id.unique().shape[0]
n_items = df.item_id.unique().shape[0]
print 'Number of users = ' + str(n_users) + ' | Number of movies = ' + str(n_items)

Number of users = 943 | Number of movies = 1682

In [4]:
from sklearn import cross_validation as cv
train_data, test_data = cv.train_test_split(df, test_size=0.25)

/home/ubuntu/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [12]:
df.head(6)

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596
5      298      474       4  884182806

In [19]:
df.count()

user_id      100000
item_id      100000
rating       100000
timestamp    100000
dtype: int64

In [11]:
train_data.head(6)

       user_id  item_id  rating  timestamp
37659      313      133       5  891014956
90499      864       81       3  888891836
15689      279      233       5  875312745
53426      429      340       5  882384870
26468      419      181       4  879435807
78356      148      189       4  877019698

In [14]:
train_data.shape

(75000, 4)

In [16]:
x = train_data.itertuples()

In [13]:
train_data_matrix = np.zeros((n_users, n_items))
for line in train_data.itertuples():
    train_data_matrix[line[1]-1, line[2]-1] = line[3]

In [18]:
train_data_matrix.shape

(943, 1682)