In [ ]:
ls

In [1]:
pwd

u'/home/ubuntu/Transaction master'

In [2]:
from DemoServerDBTWO import ConnectDatabase

In [3]:
temp = ConnectDatabase()

In [4]:
temp

In [5]:
temp.cur.execute('SELECT * from transaction_master')

In [6]:
trans_master = temp.cur.fetchall()

In [7]:
trans_master[0]

('536365',
 '85123A',
 'WHITE HANGING HEART T-LIGHT HOLDER',
 6,
 2.55,
 17850,
 'United Kingdom',
 15.3,
 datetime.date(2010, 12, 1))

In [8]:
col_names = [desc[0] for desc in temp.cur.description]

In [9]:
col_names

['InvoiceNo',
 'prod_id',
 'prod_desc',
 'quantity',
 'unitprice',
 'cust_id',
 'country',
 'revenue',
 'timestamp']

In [10]:
import yaml
with open('/home/ubuntu/MappingBuffer2.yml', 'r') as f:
    doc = yaml.load(f)

In [11]:
doc['column_map']['TRANSACTION_MASTER']['product_id']

'prod_id'

In [12]:
import pandas as pd
import numpy as np

In [13]:
trans_df = pd.DataFrame(trans_master)

In [14]:
trans_df.columns = col_names

In [15]:
trans_df.rename(columns={doc['column_map']['TRANSACTION_MASTER']['cust_id']:'cust_id'}, inplace = True)
trans_df.rename(columns={doc['column_map']['TRANSACTION_MASTER']['revenue']:'revenue'}, inplace = True)
trans_df.rename(columns={doc['column_map']['TRANSACTION_MASTER']['product_id']:'product_id'}, inplace = True)
trans_df.rename(columns={doc['column_map']['TRANSACTION_MASTER']['timestamp']:'timestamp'}, inplace = True)

In [16]:
trans_df.head(6)

,InvoiceNo,product_id,prod_desc,quantity,unitprice,cust_id,country,revenue,timestamp
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom,15.30,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850,United Kingdom,20.34,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850,United Kingdom,22.00,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom,20.34,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850,United Kingdom,20.34,2010-12-01
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,7.65,17850,United Kingdom,15.30,2010-12-01

In [17]:
cust_prod = trans_df[['product_id', 'cust_id', 'timestamp']]

In [18]:
cust_prod.head(6)

  product_id  cust_id   timestamp
0     85123A    17850  2010-12-01
1      71053    17850  2010-12-01
2     84406B    17850  2010-12-01
3     84029G    17850  2010-12-01
4     84029E    17850  2010-12-01
5      22752    17850  2010-12-01

In [19]:
values = pd.DataFrame([1]*len(cust_prod))

In [20]:
values.rename(columns={0:'value'}, inplace=True)

In [21]:
cust_prod_df = pd.concat([cust_prod,values],axis=1)

In [22]:
cust_prod_df.head(6)

  product_id  cust_id   timestamp  value
0     85123A    17850  2010-12-01      1
1      71053    17850  2010-12-01      1
2     84406B    17850  2010-12-01      1
3     84029G    17850  2010-12-01      1
4     84029E    17850  2010-12-01      1
5      22752    17850  2010-12-01      1

In [53]:
cust_prod_df['product_id'] = cust_prod_df['product_id'].astype('category')
cust_prod_df['cust_id'] = cust_prod_df['cust_id'].astype('category')

In [54]:
cust_prod_df['product_id'] = cust_prod_df['product_id'].cat.codes
cust_prod_df['cust_id'] = cust_prod_df['cust_id'].cat.codes

In [55]:
cust_prod_df.head(6)

   cust_id  product_id  value   timestamp
0     4048        3249      1  2010-12-01
1     4048        2649      1  2010-12-01
2     4048        2855      1  2010-12-01
3     4048        2803      1  2010-12-01
4     4048        2802      1  2010-12-01
5     4048        1605      1  2010-12-01

In [56]:
cust_prod_df = cust_prod_df[['cust_id', 'product_id', 'value', 'timestamp']]

In [57]:
cust_prod_df.head(6)

   cust_id  product_id  value   timestamp
0     4048        3249      1  2010-12-01
1     4048        2649      1  2010-12-01
2     4048        2855      1  2010-12-01
3     4048        2803      1  2010-12-01
4     4048        2802      1  2010-12-01
5     4048        1605      1  2010-12-01

In [58]:
cust_prod_df.shape

(406829, 4)

In [59]:
cust_prod_df.count()

cust_id       406829
product_id    406829
value         406829
timestamp     406829
dtype: int64

In [60]:
n_users = cust_prod_df.cust_id.unique().shape[0]

In [61]:
n_items = cust_prod_df.product_id.unique().shape[0]

In [62]:
print 'Number of users = ' + str(n_users) + ' | Number of movies = ' + str(n_items)

Number of users = 4372 | Number of movies = 3684

In [63]:
from sklearn import cross_validation as cv

In [64]:
train_data, test_data = cv.train_test_split(cust_prod_df, test_size=0.25)

In [50]:
train_data.head(6)

       cust_id  product_id  value   timestamp
217850   16470         790      1  2011-08-16
246337   17092         273      1  2011-09-13
113429   12947         282      1  2011-04-19
366692   12856        2092      1  2011-11-21
363307   14881         693      1  2011-11-20
179147   14056        1410      1  2011-07-04

In [65]:
train_data.shape

(305121, 4)

In [66]:
train_data_matrix = np.zeros((n_users, n_items))
for line in train_data.itertuples():
    train_data_matrix[line[1]-1, line[2]-1] = line[3]

In [67]:
test_data_matrix = np.zeros((n_users, n_items))
for line in test_data.itertuples():
    test_data_matrix[line[1]-1, line[2]-1] = line[3]

In [68]:
from sklearn.metrics.pairwise import pairwise_distances

In [69]:
user_similarity = pairwise_distances(train_data_matrix, metric='cosine')

In [70]:
item_similarity = pairwise_distances(train_data_matrix.T, metric='cosine')

In [71]:
user_similarity

array([[ 0.        ,  0.92967892,  0.95834538, ...,  0.89676509,
         0.98401381,  1.        ],
       [ 0.92967892,  0.        ,  0.97038256, ...,  0.85319495,
         0.93180057,  1.        ],
       [ 0.95834538,  0.97038256,  0.        , ...,  0.86956029,
         0.97980107,  1.        ],
       ...,
       [ 0.89676509,  0.85319495,  0.86956029, ...,  0.        ,
         0.95995191,  1.        ],
       [ 0.98401381,  0.93180057,  0.97980107, ...,  0.95995191,
         0.        ,  1.        ],
       [ 1.        ,  1.        ,  1.        , ...,  1.        ,
         1.        ,  0.        ]])

In [72]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis]) 
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])     
    return pred

In [73]:
item_prediction = predict(train_data_matrix, item_similarity, type='item')

In [74]:
item_prediction

array([[ 0.02439442,  0.02451512,  0.0246926 , ...,  0.02457658,
         0.0238433 ,  0.02410421],
       [ 0.0053225 ,  0.00533319,  0.00537746, ...,  0.00544506,
         0.00493737,  0.00527594],
       [ 0.01529052,  0.01539567,  0.01549431, ...,  0.01539578,
         0.01431949,  0.01518651],
       ...,
       [ 0.06237068,  0.0621099 ,  0.06291123, ...,  0.06295303,
         0.06038747,  0.06115273],
       [ 0.01162419,  0.01159938,  0.01167061, ...,  0.01171061,
         0.01161962,  0.01163892],
       [ 0.00027507,  0.00027354,  0.00027233, ...,  0.00027311,
         0.00026982,  0.00027492]])

In [75]:
user_prediction = predict(train_data_matrix, user_similarity, type='user')

In [76]:
user_prediction

array([[ 0.01524616,  0.01525902,  0.01215587, ...,  0.01236927,
         0.08800182,  0.01868415],
       [-0.00415027, -0.00413039, -0.00728694, ..., -0.00702919,
         0.06610991, -0.0005642 ],
       [ 0.00603397,  0.00608292,  0.00291963, ...,  0.00312205,
         0.07646605,  0.00959773],
       ...,
       [ 0.05398205,  0.05391298,  0.05093951, ...,  0.05117925,
         0.12645521,  0.05711106],
       [ 0.00207197,  0.00207125, -0.00106879, ..., -0.00083325,
         0.07599375,  0.00569345],
       [-0.00937811, -0.00938392, -0.01259119, ..., -0.01236169,
         0.06460917, -0.00571758]])

In [78]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [79]:
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten()
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

In [80]:
rmse(user_prediction, test_data_matrix)

0.9322072628721779

In [83]:
rmse(item_prediction, test_data_matrix)

0.956282800690446

### MODEL BASED

In [84]:
sparsity=round(1.0-len(cust_prod_df)/float(n_users*n_items),3)

In [85]:
print 'The sparsity level of data is ' +  str(sparsity*100) + '%'

The sparsity level of data is 97.5%

In [86]:
import scipy.sparse as sp
from scipy.sparse.linalg import svds

In [87]:
u, s, vt = svds(train_data_matrix, k = 20)

In [88]:
s_diag_matrix=np.diag(s)

In [89]:
X_pred = np.dot(np.dot(u, s_diag_matrix), vt)

In [90]:
rmse(X_pred, test_data_matrix)

0.8222069288838125