In [1]:
from DemoServerDBTWO import ConnectDatabase

In [2]:
temp = ConnectDatabase()

In [3]:
temp

In [4]:
temp.cur.execute('SELECT * from transaction_master')

In [5]:
trans_master = temp.cur.fetchall()

In [6]:
trans_master[0]

('536365',
 '85123A',
 'WHITE HANGING HEART T-LIGHT HOLDER',
 6,
 2.55,
 17850,
 'United Kingdom',
 15.3,
 datetime.date(2010, 12, 1))

In [7]:
col_names = [desc[0] for desc in temp.cur.description]

In [8]:
col_names

['InvoiceNo',
 'prod_id',
 'prod_desc',
 'quantity',
 'unitprice',
 'cust_id',
 'country',
 'revenue',
 'timestamp']

In [9]:
import yaml
with open('/home/ubuntu/MappingBuffer2.yml', 'r') as f:
    doc = yaml.load(f)

In [10]:
doc['column_map']['TRANSACTION_MASTER']

{'cust_id': 'cust_id',
 'product_id': 'prod_id',
 'quantity': 'quantity',
 'renewal': 'renewal',
 'revenue': 'revenue',
 'timestamp': 'timestamp'}

In [11]:
import pandas as pd
import numpy as np

In [12]:
master_df = pd.DataFrame(trans_master)

In [13]:
master_df.head(6)

,0,1,2,3,4,5,6,7,8
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom,15.30,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850,United Kingdom,20.34,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850,United Kingdom,22.00,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom,20.34,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850,United Kingdom,20.34,2010-12-01
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,7.65,17850,United Kingdom,15.30,2010-12-01

In [14]:
master_df.columns = col_names

In [15]:
master_df.head(6)

,InvoiceNo,prod_id,prod_desc,quantity,unitprice,cust_id,country,revenue,timestamp
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom,15.30,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850,United Kingdom,20.34,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850,United Kingdom,22.00,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom,20.34,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850,United Kingdom,20.34,2010-12-01
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,7.65,17850,United Kingdom,15.30,2010-12-01

In [16]:
master_df.rename(columns={doc['column_map']['TRANSACTION_MASTER']['cust_id']:'cust_id'}, inplace = True)
master_df.rename(columns={doc['column_map']['TRANSACTION_MASTER']['revenue']:'revenue'}, inplace = True)
master_df.rename(columns={doc['column_map']['TRANSACTION_MASTER']['product_id']:'product_id'}, inplace = True)
master_df.rename(columns={doc['column_map']['TRANSACTION_MASTER']['timestamp']:'timestamp'}, inplace = True)

In [17]:
master_df.head(6)

,InvoiceNo,product_id,prod_desc,quantity,unitprice,cust_id,country,revenue,timestamp
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom,15.30,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850,United Kingdom,20.34,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850,United Kingdom,22.00,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom,20.34,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850,United Kingdom,20.34,2010-12-01
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,7.65,17850,United Kingdom,15.30,2010-12-01

In [18]:
cust_prod = master_df[['product_id','cust_id']]

In [19]:
cust_prod.head(6)

  product_id  cust_id
0     85123A    17850
1      71053    17850
2     84406B    17850
3     84029G    17850
4     84029E    17850
5      22752    17850

In [20]:
cust_prod.shape

(406829, 2)

In [21]:
values = pd.DataFrame([1]*len(cust_prod))

In [22]:
values.rename(columns={0:'value'}, inplace=True)

In [23]:
cust_prod_df = pd.concat([cust_prod,values],axis=1)

In [24]:
cust_prod_df.head(6)

  product_id  cust_id  value
0     85123A    17850      1
1      71053    17850      1
2     84406B    17850      1
3     84029G    17850      1
4     84029E    17850      1
5      22752    17850      1

In [25]:
cust_prod_df['product_id'] = cust_prod_df['product_id'].astype('category')

In [26]:
cust_prod_df['product_id'] = cust_prod_df['product_id'].cat.codes

In [27]:
cust_prod_df.head(6)

   product_id  cust_id  value
0        3249    17850      1
1        2649    17850      1
2        2855    17850      1
3        2803    17850      1
4        2802    17850      1
5        1605    17850      1

In [29]:
import os
import sys

spark_path = "/opt/spark/"

os.environ['SPARK_HOME'] = spark_path
os.environ['HADOOP_HOME'] = spark_path

sys.path.append(spark_path + "/bin")
sys.path.append(spark_path + "/python")
sys.path.append(spark_path + "/python/pyspark/")
sys.path.append(spark_path + "/python/lib")
sys.path.append(spark_path + "/python/lib/pyspark.zip")
sys.path.append(spark_path + "/python/lib/py4j-0.9-src.zip")

from pyspark import SparkContext
from pyspark import SparkConf

sc = SparkContext("local", "test")

In [30]:
sc

In [31]:
data = sc.textFile("cust_prod_df")

In [32]:
data = data.zipWithIndex().filter(lambda tup: tup[1] > 0).map(lambda tup: tup[0])

In [33]:
data.first()

u'0,3249,17850,1'

In [34]:
data.count()

406829

In [35]:
clean_data = data.map(lambda x:x.split(','))

In [36]:
clean_data.take(5)

[[u'0', u'3249', u'17850', u'1'],
 [u'1', u'2649', u'17850', u'1'],
 [u'2', u'2855', u'17850', u'1'],
 [u'3', u'2803', u'17850', u'1'],
 [u'4', u'2802', u'17850', u'1']]

In [37]:
rating = clean_data.map(lambda y: int(y[3]))

In [38]:
rating.take(5)

[1, 1, 1, 1, 1]

In [39]:
users = clean_data.map(lambda y : int(y[2]))

In [40]:
users_unique = users.distinct()

In [41]:
users_unique.count()

4372

In [42]:
prod = clean_data.map(lambda y : int(y[1]))

In [43]:
prod_unique = prod.distinct()

In [44]:
prod_unique.count()

3684

In [45]:
from pyspark.mllib.recommendation import ALS,MatrixFactorizationModel,Rating

In [46]:
mls = data.map(lambda l: l.split(','))

In [47]:
ratings = mls.map(lambda x: Rating(int(x[2]), int(x[1]), float(x[3])))

In [48]:
ratings.take(5)

[Rating(user=17850, product=3249, rating=1.0),
 Rating(user=17850, product=2649, rating=1.0),
 Rating(user=17850, product=2855, rating=1.0),
 Rating(user=17850, product=2803, rating=1.0),
 Rating(user=17850, product=2802, rating=1.0)]

In [49]:
train, test = ratings.randomSplit([0.7,0.3],7856)

In [50]:
train.count(), test.count()

(284691, 122138)

In [51]:
train.cache()

PythonRDD[19] at RDD at PythonRDD.scala:48

In [ ]:
test.cache()

In [ ]:
users.take(15)
type(users.take(4372))

In [ ]:
users_list = users_unique.take(4372)

In [ ]:
users_list

In [ ]:
type(users)

### ALS MODEL ###

In [ ]:
rank = 5
numIterations = 10

In [ ]:
model = ALS.train(train, rank, numIterations)

In [ ]:
model.productFeatures().first()

In [ ]:
model.userFeatures().first()

In [ ]:
model.recommendUsers(3249,10)

In [ ]:
model.recommendProducts(17850, 10)

In [ ]:
all_rec = []
for x in users_list:
    print x
    all_rec1 = model.recommendProducts(x,5)
    all_rec.append(all_rec1)

In [ ]:
all_rec[0]

In [ ]:
v = str(all_rec[0][0])

In [ ]:
type(v)

In [ ]:
v

In [ ]:
f=v.split('(')

In [ ]:
f

In [ ]:
d=f[1].split('=')

In [ ]:
d

In [ ]:
u=d[1].split(',')

In [ ]:
u

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(all_rec)

In [ ]:
model.predict(17850,3249)

In [ ]:
user1 = model.recommendProducts(17849,10)

In [ ]:
type(user1)

In [ ]:
pred_input = train.map(lambda x:(x[0], x[1]))

In [ ]:
pred = model.predictAll(pred_input)

In [ ]:
pred.take(5)

In [ ]:
true_reorg = train.map(lambda x:((x[0],x[1]), x[2]))

In [ ]:
true_reorg.take(5)

In [ ]:
pred_reorg = pred.map(lambda x:((x[0],x[1]), x[2]))

In [ ]:
pred_reorg.take(5)

In [ ]:
true_pred = true_reorg.join(pred_reorg)

In [ ]:
true_pred.take(5)

### EVALUATION

In [ ]:
from math import sqrt

In [ ]:
MSE = true_pred.map(lambda r:(r[1][0] - r[1][1])**2).mean()

In [ ]:
RMSE = sqrt(MSE)

In [ ]:
RMSE

In [ ]:
test_input = test.map(lambda x:(x[0],x[1]))

In [ ]:
pred_test = model.predictAll(test_input)

In [ ]:
test_reorg = test.map(lambda x:((x[0],x[1]), x[2]))

In [ ]:
pred_reorg = pred_test.map(lambda x:((x[0],x[1]), x[2]))

In [ ]:
test_pred = test_reorg.join(pred_reorg)

In [ ]:
test_MSE = test_pred.map(lambda r: (r[1][0] - r[1][1])**2).mean()

In [ ]:
test_RMSE = sqrt(test_MSE)

In [ ]:
test_RMSE